body{
    background-image: url("night.jpg");
}


.grid{
    display: flex;
    flex-wrap: wrap;
    border:solid 1px;
    width: 300px;
    height: 300px;
    margin: auto;
}
.grid div{
    margin: auto;
 width:20px;
    height: 20px;
}
.shooter{
    background-color: blue;
}
.invader{
    background-color: purple;
    border-radius: 10px;
}
.boom{
    background-color: red;
}
.laser{
    background-color: orange;
}
#title{
    margin: auto;
    display: table;
    color: white;
}
#Welcome{
   padding-top: 10%;
    align-content: center;
    margin: auto;
    display: table;
    color: white;

}
